*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1a1a1a;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #252525;
}
input{
    width: 350px;
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 8px;
}
.logo{
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}
.account-link{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
header a:hover{
    color: #0af3c0;
}
.hero{
    text-align: left;
    padding: 10px 20px;
}
.hero h2{
    font-size: 29px;
    margin-bottom:20px
}
.hero p{
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
}
