*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1a1a1a;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #252525;
}
input{
    width: 350px;
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 8px;
}
.logo{
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}
.account-link{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
header a:hover{
    color: #0af3c0;
}
.hero{
    text-align: left;
    padding: 10px 20px;
}
.hero-header{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.hero h2{
    font-size: 29px;
    margin: 0;
    font-weight: 900;
}
.hero p{
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
}
.next-btn{
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 32px;
    cursor: pointer;
    transition: 0.3s;
}
.next-btn:hover{
    color: #0af3c0;
}
.movie-cards{
    display: flex;
    gap: 20px;
    overflow: hidden;
}
.movie-card{
    width: 250px;
    border-radius: 12px;
    background-color: #252525;
    padding: 15px;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.movie-card:hover{
    transform: translateY(-8px);
}
.movie-card img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}
.movie-card h3{
    margin-top: 12px;
    margin-bottom: 10px;
    font-size: 22px;
}
.movie-card p{
    margin-bottom: 8px;
    color:chartreuse;
}
.movie-card button{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: blueviolet;
    color:blue;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.movie-card button:hover{
    opacity: 0.8;
}
