*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1a1a1a;
    color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}


/*================
      HEADER
=================*/

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;

    padding: 20px 40px;
    background: transparent;
    z-index: 9999;
    transition: 
        background .35s ease,
        backdrop-filter .35s ease,
        box-shadow .35s ease,
        padding .35s ease;
}

.header-left{
    width: 220px;
    position: relative;
    z-index: 1000;
}

.header-right{
    position: relative;
    display: flex;
    align-items: center;
    gap: 30px;
    width: auto;
    justify-content: flex-end;
}

.header.scrolled {
    background: rgba(8, 8, 8, 0.95);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.45);

    border-bottom: 2px solid white;

    padding: 16px 40px;
}

.logo{
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    transition: color .3s;
    cursor: pointer;
}

.logo:hover{
    color: #800020;
}

input{
    width: 350px;
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 8px;
}

nav{
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1;
}

nav a{
    color:white;
    text-decoration: none;
    padding: 8px 14px;
    border: 2px solid transparent;
    border-radius: 10px;

    font-size: 19px;
    font-weight: bold;
    transition: all .3s ease;
}

nav > a:hover {
    background: transparent;
    color: #800020;
}

.account-link{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

body:not(.home-page) header {
    border-bottom: 1px solid white;
    background: #121212;
    padding: 20px 40px;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    box-shadow: none;
}

body:not(.home-page) .header.scrolled {
    border-bottom: 1px solid white;
    background: #121212;
    padding: 20px 40px;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    box-shadow: none;
}


/*================
  HEADER BUTTON
=================*/

.auth-buttons{
    display:flex;
    align-items:center;
    gap:16px;
    margin-left:18px;
}

.login-btn{
    color:#fff;
    text-decoration:none;
    font-size:.95rem;
    font-weight: bold;
    transition:.3s;
}

.login-btn:hover{
    color:#800020;
}

.register-btn{
    color:#fff;
    text-decoration:none;
    font-size:.95rem;
    font-weight: bold;
    transition:.3s;
}

.register-btn:hover{
    color:#800020;
}

.register-link,
.login-link {
    color: #800020;
    font-weight: bold;
}   

.register-link:hover,
.login-link:hover {
    color: #a00028;
}


/*================
  HEADER SETTING
=================*/

.settings-dropdown{
    position:relative;
    margin-left:18px;
    display: flex;
    align-items: center;
}

.settings-btn {
    width:40px;
    height:40px;
    border:none;
    border-radius:50%;
    cursor:pointer;
    background:#2d2d2d;
    color:#fff;
    font-size:18px;
    transition:.3s;
}

.settings-btn:hover{
    background:#800020;
}

.settings-menu{
    position:absolute;
    top:100%;
    right:0;
    width: 120px;
    background:#222;
    border-radius:10px;
    overflow:hidden;
    display:none;
    box-shadow:0 10px 25px rgba(0,0,0,.4);
    z-index:1000;
}

.settings-dropdown:hover .settings-menu{
    display:block;
}

.settings-menu button{
    width:100%;
    padding:12px 15px;
    border:none;
    background:none;
    color:#fff;
    text-align:left;
    cursor:pointer;
    transition:.3s;
    font-size:.95rem;
    font-family:inherit;
    font-weight: bold;
}

.settings-menu button:hover{
    background:#333;
}

.language-btn{
    width:100%;
    border:none;
    background:none;
    color:#fff;
    text-align:left;
    cursor:pointer;
    font-size:.95rem;
    font-family:inherit;
    padding:12px 15px;
    transition:.3s;
}

.language-btn:hover{
    background:#333;
    color: #800020;
}

/*================
      LOGIN
=================*/

.login-page{
    min-height: calc(100vh - 100px);
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 0;
    overflow: hidden;

    background:#111;
}

.login-box{
    width:100%;
    max-width:420px;
    background:#1b1b1b;
    border:1px solid #333;
    border-radius:18px;
    padding:35px;
}

.login-box h1{
    margin-bottom:30px;
    text-align:center;
    color:#fff;
}

.login-box input{
    width:100%;
    padding:12px 15px;
    margin-bottom:16px;
    border:none;
    border-radius:10px;
    background:#2a2a2a;
    color:#fff;
    font-size:15px;
}

.login-box input:focus{
    outline:none;
    border:1px solid #800020;
}

.login-box button{
    width:100%;
    padding:13px;
    border:none;
    border-radius:10px;
    background:#800020;
    color:#fff;
    font-size:16px;
    cursor:pointer;
    transition:.25s;
}

.login-box button:hover{
    background:#a00028;
}

.login-box p{
    margin-top:20px;
    text-align:center;
    color:#bdbdbd;
}

.login-box span{
    color:#fff;
    font-weight:600;
    cursor:pointer;
}


/*================
      BADGE
=================*/

.movie-title-row{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:10px;

    margin-bottom:10px;
}

.movie-title-row h3{
    margin:0;
    font-size:20px;
    flex:1;
}

.media-badge{
    padding:4px 10px;

    border-radius:20px;

    font-size:11px;
    font-weight:700;

    white-space:nowrap;
}

.media-badge.movie{
    background:#005c80;
    color:#fff;
}

.media-badge.tv{
    background:#32243A;
    color:#fff;
}


/*================
   CATEGORY PAGE
=================*/

.category-header{
    padding: 140px 60px 50px;
    background: linear-gradient(
        to bottom,
        #0f0f0f 0%,
        #161616 55%,
        #1a1a1a 100%
    );
    border-bottom: 1px solid #2d2d2d;
}

.category-content{
    max-width: 1800px;
    margin: 0 auto;
}

.category-header h1{
    font-size: 52px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 12px;
}

.category-header p{
    color: #b3b3b3;
    font-size: 18px;
    margin-bottom: 15px;
}

.category-count{
    display: block;
    color: #8a8a8a;
    font-size: 15px;
    margin-bottom: 30px;
}

.category-filter{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.category-filter button{
    padding: 12px 24px;
    background: #252525;
    color: #fff;
    border: 1px solid #3a3a3a;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s ease;
}

.category-filter .active{
    background: #800020;
    border-color: #800020;
}

.movie-grid{
    max-width: 1800px;
    margin: 60px auto;
    padding: 0 60px 40px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
    gap: 28px;
}

.page-content {
    padding-top: 100px;
}

.home-content {
    padding-top: 0;
}

/*=====================
      MOVIE DETAIL
=======================*/

.detail-hero{
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}

.detail-hero::before{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to top,
        #111 5%,
        rgba(17,17,17,.75) 35%,
        rgba(17,17,17,.35) 100%);
}

.detail-container{
    position: relative;
    z-index: 2;
    width: 90%;
    max-width: 1400px;
    margin: auto;
    padding: 120px 0 70px;
}

.detail-top{
    display: flex;
    gap: 60px;
    align-items: center;
}

.detail-poster{
    width: 330px;
    border-radius: 18px;
    box-shadow: 0 20px 60px rgba(0,0,0,.55);
    flex-shrink: 0;
}

.detail-info{
    flex: 1;
    color: #fff;
}

.detail-info h1{
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.detail-info p{
    margin: 14px 0;
    font-size: 17px;
    line-height: 1.8;
}

.tagline{
    color: #d0d0d0;
    font-style: italic;
}

.overview{
    max-width: 900px;
    color: #ececec;
}

.detail-info span{
    display: inline-block;
    background: rgba(255,255,255,.15);
    padding: 6px 14px;
    border-radius: 20px;
    margin: 6px;
}

.detail-container h2{
    margin-top: 70px;
    margin-bottom: 25px;
    color: white;
    font-size: 2rem;
}

.cast-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    gap: 25px;
}

.cast-card{
    background: #1b1b1b;
    border-radius: 15px;
    overflow: hidden;
    transition: .3s;
}

.cast-card:hover{
    transform: translateY(-8px);
}

.cast-card img{
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.cast-card h4{
    color: white;
    margin: 15px 15px 6px;
}

.cast-card p{
    color: #b8b8b8;
    margin: 0 15px 18px;
    font-size: 14px;
}

@media(max-width:900px){

    .detail-top{
        flex-direction: column;
        text-align: center;
    }

    .detail-poster{
        width: 260px;
    }

    .detail-info h1{
        font-size: 2.4rem;
    }

}

/*================
      ARAMA
=================*/
#arama {
    width: 350px;
    padding: 12px 18px;
    border-radius: 25px;
    border: 2px solid transparent;
    transition: .3s;
    margin-right: 20px;
}

#arama:focus {
    outline: none;
    border-color: #ddd;
    box-shadow: 0 0 10px rgba(229, 9, 20, .35);
}


/*====================
    SEARCH DROPDOWN
=====================*/

.search-results{
    position: absolute;
    top: calc(100% + 8px);
    left: 0;

    width: 350px;

    background:#1a1a1a;
    border:1px solid #333;
    border-radius:12px;

    overflow:hidden;
    z-index:9999;

    box-shadow:0 10px 25px rgba(0,0,0,.35);
}

.search-results a{
    display:block;
    padding:12px 16px;
    color:#fff;
    text-decoration:none;
    transition:.25s;
}

.search-results a:hover{
    background:#800020;
    color:#fff;
}


/*================
    SEARCH BOX
=================*/

.search-results a{
    display:flex;
    align-items:center;
    gap:12px;

    padding:10px 14px;

    text-decoration:none;
    color:#fff;

    transition:.25s;
}

.search-poster{
    width:42px;
    height:60px;
    border-radius:6px;
    object-fit:cover;
    flex-shrink:0;
}

.search-info{
    display:flex;
    flex-direction:column;
}

.search-info h4{
    margin:0;
    font-size:15px;
    font-weight:600;
}

.search-info span{
    margin-top:4px;
    font-size:13px;
    color:#bdbdbd;
}


/*================
      DROPDOWN
=================*/

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
}

.dropdown:hover .dropdown-menu {
    display: grid;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    color: white;

    width: 550px;

    background: #252525;
    border: 1px solid #ddd;
    border-radius: 12px;

    padding: 15px;
    column-gap: 25px;
    row-gap: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .4);
    grid-template-columns: repeat(3, 1fr);
    z-index: 999;
}

.dropdown:hover > .category-btn {
    color: #800020 !important;
}

.dropdown-menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    transition: .3;
}

.dropdown-menu a:hover {
    background: #333;
    color: #800020;
    border: 2px solid #ddd;
}


/*================
    ACC DROPDOWN
=================*/

.account-dropdown{
    position: relative;
    display: inline-block;
}

.account-link{
    display: flex;
    align-items: center;
    gap: 6px;

    background: none;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 14px;
    cursor: pointer;
    transition: .3s;
}

.account-menu{
    position:absolute;
    top:55px;
    right:0;

    width:150px;
    background:#202020;
    border:1px solid #333;
    border-radius:12px;

    display:flex;
    flex-direction:column;

    opacity:0;
    visibility:hidden;
    transform:translateY(10px);

    transition:.25s;

    z-index:999;
}

.account-dropdown:hover .account-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.account-menu a,
.account-menu button {
    width: 100%;
    padding: 14px 18px;
    background: none;
    border: none;
    color: white;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: .25s;
}

.account-menu a:hover,
.account-menu button:hover {
    background: #464545;
    color: #800020;
}


/*================
      LIST
=================*/

.list-emtpy {
    width: 100%;
    text-align: center;
    padding: 80px 20px;
}

.list-emtpy p {
    font-size: 22px;
    color: #bdbdbd;
}


/*================
      MODAL
=================*/

.modal{
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content{
    width: 700px;
    max-width: 90%;
    background: #181818;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.modal-content img{
    width: 100%;
    height: 420px;
    object-fit: cover;
    display:block;
}

.modal-content {
    position: relative;
    overflow: hidden;
}

.modal-content::before {
    content:"";
    position: absolute;
    left: 0;
    right: 0;
    top: 240px;
    height: 180px;
     background: linear-gradient(
        to top,
        #181818 0%,
        rgba(24, 24, 24, .9) 35%,
        rgba(24, 24, 24, .3) 70%,
        transparent 100%,
     );
     pointer-events: none;
}

.modal-info{
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 25px;
    z-index: 2;
    color: white;
}

.modal-info h2{
    margin-bottom: 12px;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.1;
    text-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
}

.modal-info p{
    margin: 10px 0;
    color: #ddd;
}

.close{
    position:absolute;
    right: 20px;
    top: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}


/*===================
    PROFILE MODAL 
====================*/

.profile-overlay{
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.75);
    backdrop-filter: blur(6px);
    z-index: 9999;
    animation: fadeIn .25s ease;
}

.profile-modal-content{
    position: relative;
    width: 470px;
    max-width: 92%;
    background: linear-gradient(180deg,#242424,#171717);
    border: 1px solid #3a3a3a;
    border-radius: 18px;
    padding: 35px;
    color: white;
    box-shadow: 0 25px 70px rgba(0,0,0,.65);
    animation: modalOpen .25s ease;
}

.profile-modal-content h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.profile-modal-content input{
    width: 100%;
    padding: 14px 16px;
    margin-bottom: 16px;
    background: #2a2a2a;
    border: 1px solid #444;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    transition: .25s;
    box-sizing: border-box;
}

.profile-modal-content input::placeholder{
    color:#9d9d9d;
}

.profile-modal-content input:focus{
    outline:none;
    border-color:#fff;
    box-shadow:0 0 0 3px rgba(0,0,0,.35);
}

.modal-buttons{
    display:flex;
    justify-content:flex-end;
    gap:12px;
    margin-top:25px;
}

.save-btn{
    background:#cf214d;
    color:white;
    border:none;
    padding:12px 24px;
    border-radius:10px;
    font-size:15px;
    font-weight:600;
    cursor:pointer;
    transition:.25s;
}

.save-btn:hover{
    background:#800020;
    transform:translateY(-2px);
}

.cancel-btn{
    background:#3b3b3b;
    color:white;
    border:none;
    padding:12px 24px;
    border-radius:10px;
    font-size:15px;
    cursor:pointer;
    transition:.25s;
}

.cancel-btn:hover{
    background:#4b4b4b;
    transform:translateY(-2px);
}

.modal-close{
    position:absolute;
    top:15px;
    right:18px;
    background:none;
    border:none;
    color:white;
    font-size:28px;
    cursor:pointer;
    transition:.2s;
}

.modal-close:hover{
    color:#800020;
    transform:rotate(90deg);
}

@keyframes fadeIn{
    from{opacity:0;}
    to{opacity:1;}
}

@keyframes modalOpen{
    from{
        opacity:0;
        transform:scale(.9) translateY(20px);
    }
    to{
        opacity:1;
        transform:scale(1) translateY(0);
    }
}


/*===================
    SLIDER SECTİON 
====================*/

.slider-section {
    padding: 0 20px;
    margin-top: 70px;
}

.section-header {
    margin-bottom: 15px;
}

.section-header h2 {
    color: white;
    font-size: 28px;
}

.slider-container {
    position: relative;
    overflow: hidden;
}

.slider-track {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.slider-track::-webkit-scrollbar {
    display: none;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 55px;
    height: 100%;
    border: none;
    border-radius: 20px;
    background: rgba(0, 0, 0, .2);
    color: white;
    font-size: 34px;
    cursor: pointer;
    z-index: 20;
    transition: .3s;
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}

.slider-btn:hover {
    background: rgba(0, 0, 0, .45);
}

.latest-movies .slider-btn {
    height: 300px;
}

.popular-movies .slider-btn,
.popular-series .slider-btn {
    height: 420px;
}


/*==============
      CARD 
================*/

.card {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    background: #1f1f1f;
    cursor: pointer;
    flex-shrink: 0;
    transition: .35s;
    box-shadow: 0 18px 40px rgba(0, 0, 0, .55);
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: .35s;
}

.card:before {
    content:"";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, .9) 0%,
        rgba(0, 0, 0, .45) 45%,
        transparent 80%
    );
    opacity: 0;
    transition: .35s;
}

.card-title {
    color: white;
    font-size: 22px;
    font-weight:bold;
    margin: 0;
    opacity: 0;
    transition: opacity .35s;
}

.card-description {
    margin-top: 8px;
    color: #ddd;
    opacity: 0;
    transform: translateY(8px);
    transition: .35s;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    overflow: hidden;
    text-overflow: ellipsis;
}
.card-info {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 18px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card-genre {
    margin-top: 6px;
    color: #cfcfcf;
    font-size: 14px;
    opacity: 0;
    transition: opacity .35s;
}

.card:hover {
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 25px 50px rgba(0, 0, 0, .7);
}

.card:hover .card-title {
    opacity: 1;
}

.card:hover::before {
    opacity: 1;
}

.card.hover .card-genre {
    opacity: 1;
}

.card:hover .card-image {
    filter: brightness(.45);
}

.card:hover .card-info {
    transform: translateY(-15px);
    transition: .35s;
}

.card:hover .card-description {
    opacity: 1;
    transform: translateY(0);
}


/*==============
    CARD TYPES 
================*/

.landscape-card {
    flex: 0 0 calc((100% - 60px) / 4);
    height: 300px;
}

.portrait-card {
    flex: 0 0 calc((100% - 80px) / 5);
    height: 420px;
}

.continue-card {
    flex: 0 0 calc((100% - 60px) / 4);
}

.latest-card {
    flex: 0 0 calc((100% - 60px) / 4);
}

.popular-movie-card {
    flex: 0 0 calc((100% - 80px) / 5);
}

.popular-series-card {
    flex: 0 0 calc((100% - 80px) / 5);
}


/*==============
      BAR 
================*/

.progress-bar {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 12px;

    height: 6px;
    background: rgba(255, 255, 255, .25);
    border-radius: 999px;
    overflow: hidden;
    z-index: 5;
}

.progress {
    width: 65%;
    height: 100%;
    background: #e50914;
    border-radius: inherit;
    transition: width .3s;
}


/*==============
      HERO 
================*/

.hero {
    position: relative;
    width: 100%;
    min-height: 70vh;

    display: flex;
    align-items: center;

    padding: 100px 80px 40px;
    transition: background-image .8s ease;

    background-size: cover;
    background-position: center 20%;
    background-repeat: no-repeat;

    overflow: hidden;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;

    background:
        linear-gradient(to right,
            rgba(0, 0, 0, .92) 0%,
            rgba(0, 0, 0, .78) 35%,
            rgba(0, 0, 0, .35) 70%,
            rgba(0, 0, 0, .9) 100%),
        linear-gradient(to top,
            rgba(0, 0, 0, .95) 0%,
            transparent 40%);

    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;

    max-width: 650px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-tag {
    color: #ddd;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.hero-image img {
    width: 100%;
    height: 100;
    object-fit: cover;
    object-position: center 20%;
}

.hero h1 {
    margin: 0;

    font-size: clamp(48px, 6vw, 80px);
    font-weight: 800;
    line-height: 1.05;

    color: #fff;
}

.hero p {
    margin: 0;

    color: rgba(255,255,255,.88);

    font-size: 18px;
    line-height: 1.8;

    max-width: 620px;
}

.hero-buttons {
    display: flex;
    gap: 16px;

    margin-top: 12px;
}

.watch-btn,
.detail-btn,
.trailer-btn {
    border: none;
    border-radius: 10px;

    padding: 14px 28px;

    font-size: 16px;
    font-weight: 600;

    cursor: pointer;

    transition: .3s;
}


/*==================
    HERO ANIMATION
===================*/

.hero-bg {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    transition: opacity .8s ease, transform 8s ease;
    transform: scale(1.05);
}

.hero-bg.active {
    opacity: 1;
}

.hero-bg.hidden {
    opacity: 0;
}


/*==================
      HERO SLIDER
===================*/

.hero {
    transition: background-image .8s ease-in-out;
}

.hero-content {
    animation: heroFade .8s ease;
}

@keyframes heroFade {
    from {
        opacity: 0;
        transform: translateY(25px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/*==================
      DOTS
===================*/

.hero-dots {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);

    display: flex;
    gap: 12px;

    z-index: 5;
}

.hero-dot {
    width: 12px;
    height: 12px;

    border-radius: 50%;

    background: rgba(255,255,255,.35);

    cursor: pointer;

    transition: .3s;
}

.hero-dot:hover {
    background: rgba(255,255,255,.7);
}

.hero-dot.active {
    background: #800020;
    transform: scale(1.25);
}


/*====================
       FAVORITE
=====================*/

.favorite-btn{
    position: absolute;
    right: 12px;
    bottom: 12px;

    background: transparent;
    border: none;

    font-size: 24px;
    color: #ffffff;

    opacity: 0;
    transform: translateY(8px);
    transition: all .25s ease;

    cursor: pointer;
    z-index: 20;
}

.movie-card:hover .favorite-btn{
    opacity: 1;
    transform: translateY(0);
}

.favorite-btn:hover{
    transform: scale(1.15);
}

.favorite-btn.active{
    color: #e50914;
}


/*==============
      PROFİL
================*/

.profile-container {
    max-width: 700px;
    margin: 50px auto;
    padding: 30px;
}

.profile-card {
    background: #1c1c1c;
    border: 1px solid #333;
    border-radius: 18px;
    padding:35px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, rgba(0, 0, 0, .35));
}

.profile-icon {
    font-size: 75px;
    color: #b8b8b8;
    text-align: center;
    margin-bottom: 15px;
}

.profile-title {
    text-align: center;
    font-size: 34px;
    margin-bottom: 30px;
}

.profile-section {
    margin-top: 25px;
}

.profile-section h2 {
    color: #b8b8b8;
    margin-bottom: 15px;
}

.profile-info {
    margin-bottom: 12px;
    font-size: 18px;
}

.profile-buttons {
    display: flex;
    gap: 15px;
    margin-top: 25px;
    flex-wrap: wrap;
}

.profile-btn {
    background: #b8b8b8;
    color: #111;
    border: none;
    padding: 12px 22px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: .3s;
}

.profile-btn:hover {
    transform: translateY(-2px);
    background: #696868;
    color: white;
}


/*====================
      MOVIES CARD
=====================*/

.movie-card{
    position: relative;
    flex: 0 0 220px;
    height: 330px;

    display: block;

    overflow: hidden;
    border-radius: 16px;

    text-decoration: none;

    background: #252525;

    transition: .35s ease;
}

.movie-poster{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
    transition:.35s ease;
}

.movie-overlay{
    position:absolute;
    inset:0;

    background:linear-gradient(
        to top,
        rgba(0,0,0,.95) 0%,
        rgba(0,0,0,.7) 40%,
        rgba(0,0,0,.1) 100%
    );

    opacity:0;
    transition:.35s ease;
}

.movie-info{
    position:absolute;

    left:18px;
    right:18px;
    bottom:18px;

    color:white;

    transform:translateY(25px);
    opacity:0;

    transition:.35s ease;
}

.movie-info h3{
    font-size:20px;
    margin-bottom:10px;
}

.movie-meta{
    font-size:15px;
    color:#ddd;
}

.movie-card:hover{
    transform:translateY(-8px) scale(1.03);
    box-shadow:0 20px 40px rgba(0,0,0,.45);
}

.movie-card:hover .movie-poster{
    transform:scale(1.08);
    filter:brightness(.45);
}

.movie-card:hover .movie-overlay{
    opacity:1;
}

.movie-card:hover .movie-info{
    opacity:1;
    transform:translateY(0);
}


/*================
    MOVIES PAGE
=================*/

.movies-page {
    padding: 120px 0 80px;
    min-height: 100vh;
    background: linear-gradient(
        to bottom,
        #0f0f0f 0%,
        #161616 30%,
        #1a1a1a 70%,
        #111111 
    );
}

.movies-title {
    font-size: 2.2rem;
    margin-left: 0;
    margin-bottom: 25px;
    font-weight: 700;
}

.movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 24px;
}



/*================
    SERIES PAGE
=================*/

.series-page {
    padding: 120px 0 80px;
    min-height: 100vh;
    background: linear-gradient(
        to bottom,
        #0f0f0f 0%,
        #161616 30%,
        #1a1a1a 70%,
        #111111 
    );
}

.series-title {
    font-size: 2.2rem;
    margin-left: 0;
    margin-bottom: 25px;
    font-weight: 700;
}

.series-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 24px;
}


/*================
    LIST PAGE
=================*/

.list-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    padding: 40px;
    background-color: #1a1a1a;
    border: 1px solid #333;
    border-radius: 12px;
    text-align: center;
}

.list-empty p {
    color: #b3b3b3;
    font-size: 20px;
}

.list-page {
    padding: 120px 0 80px;
    min-height: 100vh;
    background: linear-gradient(
        to bottom,
        #0f0f0f 0%,
        #161616 30%,
        #1a1a1a 70%,
        #111111 100%
    );
}

.list-title {
    font-size: 2.2rem;
    margin-left: 30px;
    margin-bottom: 25px;
    font-weight: 700;
}

.list-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 0px;
}

.container {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 60px;
}


/*======================
    DİSCOVER BUTTON
=======================*/

.discover-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    margin-top: 25px;
    padding: 14px 30px;

    background: #333;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid white;

    border-radius: 8px;
    transition: all .3s ease;
    box-shadow: 0 8px 20px #1a1a1a;
}

.discover-btn:hover {
    background: #b3b3b3;
    transform: translateY(-2px);
    box-shadow: 0 12px 24px #1f1f1f;
    font-weight: bold;
    color: black;
    border: 3px solid black;
}

.discover-btn:active {
    transform: scale(.97);
}


/*================
      FOOTER
=================*/

.footer{
    position: relative;
    margin-top: 0;
    padding: 170px 20px 40px;
    width: 100%;
    text-align: center;

    background: linear-gradient(
        to bottom,
        rgba(17,17,17,0) 0%,
        rgba(17,17,17,.08) 15%,
        rgba(17,17,17,.22) 35%,
        rgba(17,17,17,.45) 55%,
        rgba(17,17,17,.75) 80%,
        #111 100%
    );
}

.footer p {
    margin: 0;
    color: #8f8f8f;
    width: 100%;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
}


/*=========================================LIGHT MODE=============================================*/

body.light-theme{
    background:#f5f5f7;
    color:#222;
}


/*==============
     HEADER 
===============*/

body.light-theme .header.scrolled{
    background:rgba(255,255,255,.96);
    border-bottom:1px solid #ddd;
}

body.light-theme .logo,
body.light-theme nav a,
body.light-theme .account-link,
body.light-theme .theme-toggle{
    color: black;
}

body.light-theme nav a:hover,
body.light-theme .logo:hover,
body.light-theme .account-link:hover{
    color:#800020;
}

body.light-theme:not(.home-page) .header {
    background: #f5f5f7;
    border-bottom: 1px solid black;
}

body.light-theme:not(.home-page) .header.scrolled {
    background: #f5f5f7;
    border-bottom: 1px solid black;
}


/*===================
     HEADER SETTING
====================*/

body.light-theme .settings-btn {
    background:#fff;
    color:#2d2d2d;
    border: 1px solid #cfcfcf;
}

body.light-theme .settings-menu {
    background:#fff;
    color: #222;
    box-shadow:0 10px 25px rgba(0,0,0,.4);

}

body.light-theme .settings-menu button {
    color:#333;
    
}

body.light-theme .settings-menu button:hover {
    background:#f2f2f2;
}

body.light-theme .language-btn {
    color:#333;
}

body.light-theme .language-btn:hover {
    background:#f2f2f2;
    color: #333;
}

body.light-theme .login-btn,
body.light-theme .register-btn {
    color: black;
}

body.light-theme .login-btn:hover,
body.light-theme .register-btn:hover {
    color: #800020;
}


/*==============
    ACCOUNT 
===============*/

body.light-theme .account-menu{
    background:#fff;
    border:1px solid #ddd;
    box-shadow:0 10px 25px rgba(0,0,0,.12);
}

body.light-theme .account-menu a{
    display:block;
    color:#222;
    background:#fff;
}

body.light-theme .account-menu button{
    width:100%;
    text-align:left;

    color:#222;
    background:#fff;

    border:none;
    outline:none;

    cursor:pointer;
}

body.light-theme .account-menu a:hover,
body.light-theme .account-menu button:hover{
    background:#800020;
    color: #f2f2f2;
    font-weight: bold;
    border: 2px solid #ccc;
}

body.light-theme .account-menu .theme-toggle{
    background:#fff !important;
    color:#222 !important;
}

body.light-theme .account-menu .theme-toggle:hover{
    background:#800020 !important;
    color:#f2f2f2 !important;
}


/* ===================
      DETAIL PAGE
=================== */

body.light-theme .detail-hero::before{
    background:linear-gradient(
        to top,
        rgba(245,245,245,.98),
        rgba(245,245,245,.78),
        rgba(245,245,245,.20)
    );
}

body.light-theme .detail-container,
body.light-theme .detail-info{
    color:#111;
}

body.light-theme .detail-container h2{
    color:#111;
    font-weight: bold;
}

body.light-theme .overview{
    color:#222;
    font-weight: bold;
}

body.light-theme .tagline{
    color:black;
    font-weight: bolder;
}

body.light-theme .detail-info span{
    background:#ddd;
    color:#111;
}

body.light-theme .cast-card{
    background:#ffffff;
    border:1px solid #e5e5e5;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    transition:.3s;
}

body.light-theme .cast-card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 30px rgba(0,0,0,.15);
}

body.light-theme .cast-card h4{
    color:#111;
}

body.light-theme .cast-card p{
    color:#666;
}

body.light-theme .detail-poster{
    box-shadow:0 20px 45px rgba(0,0,0,.18);
}

body.light-theme .cast-card img{
    border-bottom:1px solid #eee;
}


/*==============
     LOGİN 
===============*/

body.light-theme .login-page{
    background:#f5f5f7;
}

body.light-theme .login-box{
    background:#ffffff;
    border:1px solid #dcdcdc;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

body.light-theme .login-box h1,
body.light-theme .login-box h2{
    color:#222;
}

body.light-theme .login-box input{
    background:#f3f3f3;
    color:#222;
    border:1px solid #ddd;
}

body.light-theme .login-box input::placeholder{
    color:#777;
}

body.light-theme .login-box input:focus{
    border-color:#800020;
}

body.light-theme .login-box p{
    color:#666;
}

body.light-theme .login-box span{
    color:#800020;
}


/*==============
    DROPDOWN 
===============*/

body.light-theme .dropdown-menu{
    background:#fff;
    border:1px solid #ddd;
    box-shadow:0 10px 25px rgba(0,0,0,.12);
}

body.light-theme .dropdown-menu a,
body.light-theme .dropdown-menu button{
    color:#222;
}

body.light-theme .dropdown-menu a:hover,
body.light-theme .dropdown-menu button:hover{
    background:#800020;
    color:#fff;
}


/*====================
    SEARCH DROPDOWN
=====================*/

body.light-theme .search-results{
    background:#ffffff;
    border:1px solid #dcdcdc;
    box-shadow:0 10px 25px rgba(0,0,0,.12);
}

body.light-theme .search-results a{
    color:#222;
}

body.light-theme .search-results a:hover{
    background:#f3f3f3;
}

body.light-theme .search-info h4{
    color:#222;
}

body.light-theme .search-info span{
    color:#777;
}


/*==============
      PROFİL
================*/
body.light-theme .profile-card {
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 18px;
    padding: 35px;
    box-shadow: 0 10px 25px rgba(0,0,0,.08);
}

body.light-theme .profile-icon {
    color: #555;
}

body.light-theme .profile-title {
    color: #222;
}

body.light-theme .profile-section h2 {
    color: #444;
}

body.light-theme .profile-info {
    color: #555;
}

body.light-theme .profile-btn {
    background: #333;
    color: white;
    border: none;
    padding: 12px 22px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: .3s;
}

body.light-theme .profile-btn:hover {
    transform: translateY(-2px);
    background: #222;
    box-shadow: 0 6px 16px rgba(229, 9, 20, .25);
}


/*===========x===
    TEXT COLOR 
===============*/

body.light-theme h1,
body.light-theme h2,
body.light-theme h3,
body.light-theme h4,
body.light-theme h5,
body.light-theme h6{
    color:#222;
}

body.light-theme .slider-title,
body.light-theme .section-title,
body.light-theme .home-section h2,
body.light-theme .movies-title,
body.light-theme .series-title{
    color:#222;
}

body.light-theme .movie-info,
body.light-theme .movie-info h3,
body.light-theme .movie-meta,
body.light-theme .media-badge {
    color: #fff !important;
    font-weight: bold;
}


/*==============
     SEARCH 
===============*/

body.light-theme input,
body.light-theme #arama{
    background:#ebebeb;
    color:#222;
    border:2px solid #ddd;
}

body.light-theme input::placeholder,
body.light-theme #arama::placeholder{
    color:#777;
}

body.light-theme #arama:focus{
    border-color:#800020;
    box-shadow:0 0 12px rgba(214, 214, 214, 0.18);
}


/*==============
     HERO 
===============*/

body.light-theme .hero::before{
    background:linear-gradient(
        to right,
        rgba(255,255,255,.92),
        rgba(255,255,255,.45),
        rgba(255,255,255,.15)
    );
}

body.light-theme .hero h1,
body.light-theme .hero p,
body.light-theme .hero-tag{
    color:#222;
}

body.light-theme .hero-dot{
    background:rgba(0,0,0,.25);
}

body.light-theme .hero-dot.active{
    background:#800020;
}


/*==============
     PAGES 
===============*/

body.light-theme .movies-page,
body.light-theme .series-page,
body.light-theme .list-page,
body.light-theme .search-page,
body.light-theme .category-page,
body.light-theme .movie-detail-page{
    background:linear-gradient(
        to bottom,
        #ffffff,
        #f6f6f6,
        #eeeeee
    );
}


/*==============
     CARDS 
===============*/

body.light-theme .movie-card{
    background:#fff;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}


/*==============
     CATEGORY 
===============*/

body.light-theme .category-header{
    background:linear-gradient(to bottom,#fff,#f5f5f5);
    border-bottom:1px solid #ddd;
}

body.light-theme .category-header h1,
body.light-theme .category-header p,
body.light-theme .category-count{
    color:#222;
}

body.light-theme .category-filter button{
    background:#fff;
    color:#222;
    border:1px solid #ccc;
}

body.light-theme .category-filter .active{
    background:#800020;
    color:#fff;
    border-color:#800020;
}


/*==============
     LIST 
===============*/

body.light-theme .list-empty{
    background:#f8f8f8;
    border:1px solid #e3e3e3;
    border-radius:18px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

body.light-theme .list-empty p{
    color:#333;
}

body.light-theme .list-empty .discover-btn{
    display:inline-flex;
    justify-content:center;
    align-items:center;

    padding:14px 30px;
    margin-top:20px;

    background:#fff;
    color: black;
    text-decoration:none;

    border:1px solid #bdbdbd;


    font-weight:600;
    transition:.25s;
}

body.light-theme .list-empty .discover-btn:hover{
    background:#800020;
    border-color:#bdbdbd;
    color:#fff;
    transform:translateY(-2px);
    box-shadow:0 8px 18px rgba(128,0,32,.25);
}


/*==============
     BUTTON 
===============*/

body.light-theme .watch-btn,
body.light-theme .detail-btn,
body.light-theme .trailer-btn{
    box-shadow:0 8px 18px rgba(0,0,0,.08);
}

body.light-theme .detail-btn{
    background:#fff;
    color:#333;
    border:none;
}

body.light-theme .detail-btn:hover{
    background:#a00028;
    color:#fff;
}


/*==============
     FOOTER 
===============*/

body.light-theme footer{
    background:linear-gradient(
        to bottom,
        #f8f8f8,
        #ececec
    );
    color:#222;
    border-top:1px solid #ddd;
}

body.light-theme footer h3,
body.light-theme footer p,
body.light-theme footer a{
    color:#222;
}

body.light-theme footer a:hover{
    color:#800020;
}


/*==============
     MODAL 
===============*/

body.light-theme .modal-content{
    background:#fff;
    color:#222;
}

body.light-theme .close-btn{
    color:#222;
}


/*=================
    PROFILE MODAL 
==================*/

body.light-theme .profile-overlay{
    background: rgba(255,255,255,.55);
    backdrop-filter: blur(6px);
}

body.light-theme .profile-modal-content{
    background: linear-gradient(180deg,#ffffff,#f5f5f5);
    border: 1px solid #dcdcdc;
    color: #222;
    box-shadow: 0 25px 70px rgba(0,0,0,.18);
}

body.light-theme .profile-modal-content h2{
    color:#222;
}

body.light-theme .profile-modal-content input{
    background:#ffffff;
    color:#222;
    border:1px solid #800020;
}

body.light-theme .profile-modal-content input::placeholder{
    color:#8a8a8a;
}

body.light-theme .profile-modal-content input:focus{
    border-color:#800020;
}

body.light-theme .save-btn{
    background:#cf214d;
    color:#fff;
}

body.light-theme .save-btn:hover{
    background:#800020;
}

body.light-theme .cancel-btn{
    background:#444;
    color:#fff;
}

body.light-theme .cancel-btn:hover{
    background:#777;
}

body.light-theme.modal-close{
    color:#444;
}

body.light-theme.modal-close:hover{
    color:#800020;
}


/*==============
    SCROLLBAR 
===============*/

body.light-theme::-webkit-scrollbar{
    width:10px;
}

body.light-theme::-webkit-scrollbar-track{
    background:#ececec;
}

body.light-theme::-webkit-scrollbar-thumb{
    background:#800020;
    border-radius:20px;
}

body.light-theme::-webkit-scrollbar-thumb:hover{
    background:#a00028;
}


/*==============
    THEME BTN 
===============*/

.theme-toggle{
    width:100%;
    padding:12px 18px;

    background:none;
    border:none;
    outline:none;

    color:inherit;
    font:inherit;
    text-align:left;

    cursor:pointer;

    transition:.3s;
}

.theme-toggle:hover{
    color:#800020;
    background:rgba(128,0,32,.08);
}